*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: "Nunito", sans-serif;
  background-color: #282726;
  color: #D6CAB0;
  font-weight: 300;
  line-height: 1.6;
  scroll-behavior: smooth; }

.container {
  display: grid;
  grid-template-rows: 100vh repeat(7, min-content);
  grid-template-columns: [sidebar-start] minmax(min-content, 8rem) [sidebar-end full-start] 1fr [full-end email-start] minmax(min-content, 8rem) [email-end]; }

.heading-1, .heading-2, .heading-3, .heading-4, .projects__heading, .heading-5, .heading-6 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 7rem;
  color: #FCFAF1;
  line-height: 1; }

.heading-2 {
  font-size: 4.8rem;
  color: #FCFAF1;
  line-height: 1; }
  .heading-2--light {
    color: #D6CAB0; }
  .heading-2--dark {
    color: #54504c; }

.heading-3 {
  font-size: 1.6rem;
  color: #D6CAB0;
  letter-spacing: .5rem;
  font-weight: 800;
  text-transform: uppercase; }

.heading-4 {
  font-size: 2.2rem;
  text-transform: capitalize;
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-column-gap: 2rem;
  align-items: center; }
  .heading-4::after {
    content: "";
    height: 1px;
    border: 1px solid rgba(214, 202, 176, 0.2);
    display: block;
    width: 70%; }
  .heading-4--light {
    color: #D6CAB0; }
  .heading-4--dark {
    color: #54504c; }

.projects__heading {
  font-size: 2.2rem;
  text-transform: capitalize;
  display: flex;
  justify-content: space-around;
  width: 100%; }
  .projects__heading::before {
    content: "";
    display: block;
    height: 1px;
    border: 1px solid rgba(214, 202, 176, 0.2);
    width: 25%;
    margin-top: 1.5rem; }
  .projects__heading::after {
    content: "";
    display: block;
    height: 1px;
    border: 1px solid rgba(214, 202, 176, 0.2);
    width: 25%;
    margin-top: 1.5rem; }

.heading-5 {
  font-size: 1.4rem;
  color: #D6CAB0;
  text-transform: capitalize;
  margin: 1rem 0; }

.heading-6 {
  font-size: 2.8rem;
  color: #FCFAF1;
  text-transform: capitalize;
  margin: 1rem 0; }

.btn {
  background-image: linear-gradient(to right, #54504c, #86817C);
  color: #FCFAF1;
  border: none;
  border-radius: .3rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all .2s; }
  .btn > * {
    height: 100%;
    width: 100%;
    display: inline-block;
    transition: all .2s; }
  .btn__visible {
    padding: .3rem 3rem; }
    .btn__visible:link, .btn__visible:visited {
      text-decoration: none;
      color: #FCFAF1; }
  .btn__invisible {
    padding: 2rem 0;
    left: 0;
    top: -100%;
    position: absolute; }
    .btn__invisible:link, .btn__invisible:visited {
      text-decoration: none;
      color: #FCFAF1; }
  .btn:hover .btn__visible {
    transform: translateY(220%); }
  .btn:hover .btn__invisible {
    top: 5%; }

.paragraph {
  font-size: 2rem;
  line-height: 1.3;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Josefin Sans", sans-serif;
  color: #86817C; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 6rem; }

.mb-hg {
  margin-bottom: 8rem; }

.sidebar {
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / 1;
  position: fixed;
  height: 100vh;
  width: 5rem;
  display: flex;
  flex-direction: column;
  -moz-align-items: center;
  align-items: center;
  justify-content: flex-end;
  transition: all .2s; }
  .sidebar__icon {
    fill: #86817C;
    margin: 1.5rem auto;
    height: 2rem;
    width: 5rem;
    transform: translateY(-1rem);
    padding: 0;
    transition: all .2s; }
    .sidebar__icon:hover {
      transform: scale(1.5);
      fill: #D6CAB0; }
    .sidebar__icon__link {
      text-decoration: none; }
  .sidebar::after {
    content: "";
    display: block;
    width: 1px;
    height: 12vh;
    background-color: #86817C; }
  .sidebar__link {
    text-decoration: none; }

.header {
  grid-column: full-start / full-end;
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 6rem;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header__logo {
    width: 8rem;
    height: 4rem;
    padding-top: .4rem;
    background: #D6CAB0;
    position: relative;
    color: #282726; }
    .header__logo:before {
      content: "";
      position: absolute;
      top: -2.5rem;
      left: 0;
      width: 0;
      height: 0;
      border-left: 5rem solid transparent;
      border-right: 5rem solid transparent;
      border-bottom: 2.5rem solid #D6CAB0; }
    .header__logo:after {
      content: "";
      position: absolute;
      bottom: -2.5rem;
      left: 0;
      width: 0;
      height: 0;
      border-left: 5rem solid transparent;
      border-right: 5rem solid transparent;
      border-top: 2.5rem solid #D6CAB0; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header__icon {
    fill: #D6CAB0;
    height: 4rem;
    padding: 0;
    transition: all .2s;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    .header__icon:hover {
      transform: translate(-50%, -50%) scale(1.5); }

.about {
  grid-column: full-start / full-end;
  padding: 4.5rem;
  display: flex;
  margin-top: 5rem; }
  .about__content {
    font-size: 1.4rem;
    flex: 0 0 50%;
    margin-right: 4.5rem;
    padding: 3rem; }
    .about__content--text:not(:last-of-type) {
      margin-bottom: 2rem; }
    .about__content--text-link, .about__content--text-link:link, .about__content--text-link:visited {
      color: #FCFAF1;
      transition: all .2s ease-in-out;
      text-decoration: none;
      box-shadow: inset 0 -2px 0 #FCFAF1; }
      .about__content--text-link:hover, .about__content--text-link:link:hover, .about__content--text-link:visited:hover {
        box-shadow: inset 0 -33px 0 0 #FCFAF1;
        color: #282726; }
  .about .list {
    list-style: none;
    margin: 3rem 0;
    padding: 3rem 0;
    border-top: 1px solid rgba(214, 202, 176, 0.2);
    border-bottom: 1px solid rgba(214, 202, 176, 0.2);
    display: flex;
    flex-wrap: wrap; }
    .about .list__item {
      flex: 0 0 50%;
      margin-bottom: .7rem; }
    .about .list__item::before {
      content: "";
      display: inline-block;
      height: 1rem;
      width: 1rem;
      margin-right: .7rem;
      background-color: #D6CAB0;
      mask-image: url(../img/chevron-thin-right.svg);
      -webkit-mask-image: url(../img/chevron-thin-right.svg);
      mask-size: cover;
      -webkit-mask-size: cover; }
  .about__picture {
    flex: 1;
    padding: 3rem;
    margin: 3.5rem auto; }
  .about .picture--item {
    border-radius: 3px;
    margin: 8vw;
    width: 50%;
    height: 100%;
    justify-content: center;
    border: 1px solid #86817C;
    z-index: -1; }
    .about .picture--item-1 {
      border-radius: 3px;
      width: 100%;
      height: 100%;
      justify-content: center;
      transform: translateY(-1.1rem) translateX(-1.5rem);
      filter: grayscale(100%) contrast(1) brightness(100%);
      z-index: 1; }
      .about .picture--item-1:hover {
        transform: translateY(-0.8rem) translateX(-0.8rem);
        filter: none; }

.experiance {
  grid-column: full-start / full-end;
  height: 60vh;
  margin: 5rem;
  padding: 5rem; }
  .experiance__heading {
    padding: 0 20%; }

.otherprojects {
  grid-column: full-start / full-end;
  margin: 15rem 0;
  display: flex;
  align-items: center;
  flex-direction: column; }

.projects {
  padding: 0 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2rem;
  max-width: 110rem; }
  .projects .project {
    background-color: rgba(84, 80, 76, 0.8);
    filter: grayscale(100%) contrast(1) brightness(100%);
    transition: .5s;
    backface-visibility: hidden; }
    .projects .project--inner {
      padding: 2rem 1.75rem;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: flex-start;
      height: 100%;
      border-radius: .3rem;
      transition: all .2s; }
    .projects .project__icons {
      display: flex;
      margin-bottom: 3rem;
      justify-content: space-between;
      align-items: center;
      transition: all .2s; }
      .projects .project__icons-github, .projects .project__icons-globe {
        fill: #86817C;
        height: 2rem;
        width: 2rem;
        justify-self: flex-end;
        transition: all .2s; }
      .projects .project__icons-folder {
        fill: #D6CAB0;
        height: 3rem;
        width: 3rem;
        align-self: flex-start;
        margin: 0 auto; }
      .projects .project__icons--link {
        padding: 1rem;
        transition: all .2s; }
        .projects .project__icons--link :hover {
          fill: #D6CAB0; }
    .projects .project__name--heading {
      color: #FCFAF1; }
    .projects .project__discription {
      font-size: 1.4rem; }
    .projects .project__language {
      -moz-box-flex: 1;
      flex-grow: 1;
      display: flex;
      align-items: flex-end;
      flex-wrap: wrap;
      margin-top: 2rem; }
      .projects .project__language--list {
        list-style: none;
        color: rgba(252, 250, 241, 0.7);
        margin-right: 1rem;
        font-size: 1.2rem; }
    .projects .project:hover {
      transform: translateY(-0.5rem);
      box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px; }

.email {
  grid-column: email-start / email-end;
  grid-row: 1 / 1;
  position: fixed;
  right: 0;
  height: 100vh;
  width: 5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  writing-mode: vertical-rl;
  -webkit-writing-mode: vertical-rl; }
  .email::after {
    content: "";
    width: .1rem;
    height: 12vh;
    background-color: #86817C;
    margin: 1.5rem auto 0; }
  .email-link, .email-link:link, .email-link:visited {
    text-decoration: none;
    color: #86817C;
    font-size: 1.6rem;
    letter-spacing: .2rem;
    transition: all .5s; }
  .email-link:hover {
    transform: translateY(-0.5rem);
    color: #D6CAB0; }

.footer {
  grid-column: sidebar-start / email-end;
  padding: 3rem;
  background-color: rgba(84, 80, 76, 0.5);
  width: 100%;
  height: 12.2vh;
  display: flex;
  align-items: center;
  justify-content: center; }
  .footer__paragraph {
    font-size: 1.4rem;
    color: #FCFAF1;
    letter-spacing: .2rem; }

.recentprojects {
  grid-column: full-start / full-end;
  padding: 4.5rem;
  margin-top: 5rem; }
  .recentprojects__heading {
    padding: 2rem 7%;
    margin-right: 20%; }
  .recentprojects__img {
    border-radius: 3px;
    transition: all .5s; }
    .recentprojects__img-1 {
      width: 115%;
      height: 100%;
      filter: grayscale(100%) contrast(1) brightness(100%);
      transition: all .5s; }
      .recentprojects__img-1:hover {
        filter: none;
        transform: translateY(-0.5rem); }
    .recentprojects__img-2 {
      width: 115%;
      height: 100%;
      transform: translateX(-15%);
      filter: grayscale(100%) contrast(1) brightness(100%);
      transition: all .5s; }
      .recentprojects__img-2:hover {
        filter: none;
        transform: translateX(-15%) translateY(-0.5rem); }
    .recentprojects__img:hover {
      filter: none;
      transform: translateY(-0.5rem); }
  .recentprojects__paragraph {
    background-image: linear-gradient(to right, #54504c, #86817C);
    color: #FCFAF1;
    transition: all .5s;
    padding: 2.5rem;
    text-align: left;
    font-size: 1.4rem;
    border-radius: 3px;
    z-index: 1; }
    .recentprojects__paragraph:hover {
      box-shadow: rgba(214, 202, 176, 0.2) 0 1rem 3rem -1.5rem;
      transform: translateY(-0.5rem);
      transition: all .5s; }
  .recentprojects__technology--list {
    display: flex;
    flex-wrap: wrap;
    margin: 2.5rem 0 1rem; }
    .recentprojects__technology--list-1 {
      justify-content: flex-end; }
      .recentprojects__technology--list-1-name {
        list-style: none;
        margin-left: 2rem;
        margin-bottom: .7rem;
        font-size: 1.3rem;
        white-space: nowrap; }
    .recentprojects__technology--list-2 {
      justify-content: flex-start; }
      .recentprojects__technology--list-2-name {
        list-style: none;
        margin-right: 2rem;
        margin-bottom: .7rem;
        font-size: 1.3rem;
        white-space: nowrap; }
  .recentprojects__icon {
    display: flex; }
    .recentprojects__icon-github, .recentprojects__icon-globe {
      width: 2.2rem;
      height: 2.2rem;
      margin: 0 1rem;
      fill: #86817C;
      transition: all .2s; }
      .recentprojects__icon-github:hover, .recentprojects__icon-globe:hover {
        fill: #FCFAF1; }
    .recentprojects__icon-1 {
      -moz-box-pack: end;
      justify-content: flex-end;
      fill: currentcolor; }
    .recentprojects__icon-2 {
      -moz-box-pack: start;
      justify-content: flex-start;
      fill: currentcolor; }
  .recentprojects__link, .recentprojects__link:link, .recentprojects__link:visited {
    color: #FCFAF1;
    transition: all .2s ease-in-out;
    text-decoration: none; }
    .recentprojects__link:hover, .recentprojects__link:link:hover, .recentprojects__link:visited:hover {
      color: #D6CAB0;
      box-shadow: inset 0 -2px 0 #86817C; }
  .recentprojects__1 {
    padding: 0 7%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 2rem; }
    .recentprojects__1--image {
      grid-column: 1 / 7; }
    .recentprojects__1--content {
      grid-column: 7 / -1;
      text-align: right;
      z-index: 2; }
  .recentprojects__2 {
    padding: 0 7%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 2rem;
    margin-top: 20rem; }
    .recentprojects__2--content {
      grid-column: 1 / 7;
      z-index: 2;
      position: relative; }
    .recentprojects__2--image {
      grid-column: 7 / -1; }

.contact {
  grid-column: full-start / full-end;
  text-align: center;
  padding: 15rem;
  margin: 0 auto;
  min-width: 65%;
  max-width: 80%; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    left: -100%; }
  100% {
    opacity: 1;
    left: 100%; } }

@keyframes moveInRight {
  0% {
    right: 50%; }
  100% {
    right: 0; } }

@keyframes run {
  0% {
    left: 0; }
  50% {
    left: 100%; }
  100% {
    left: 0; } }

@keyframes slideinright {
  from {
    margin-right: 100%;
    width: 300%; }
  to {
    margin-right: 0%;
    width: 100%; } }

@keyframes slideinleft {
  from {
    margin-left: -100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }
