*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: "Nunito", sans-serif;
  background-color: #282726;
  color: #D6CAB0;
  font-weight: 300;
  line-height: 1.6;
  scroll-behavior: smooth; }

.container {
  display: grid;
  grid-template-rows: 100vh min-content repeat(4, min-content);
  grid-template-columns: [sidebar-start] 5rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end email-start] 5rem [email-end full-end]; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 6rem;
  color: #D6CAB0;
  line-height: 1; }

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1; }
  .heading-2--light {
    color: #D6CAB0; }
  .heading-2--dark {
    color: #54504c; }

.heading-3 {
  font-size: 1.6rem;
  color: #FCFAF1;
  text-transform: uppercase; }

.heading-4 {
  font-size: 2.2rem;
  text-transform: uppercase;
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: max-content 1fr;
  grid-column-gap: 2rem;
  align-items: center; }
  .heading-4::after {
    content: "";
    height: 1px;
    display: block;
    background-color: currentColor; }
  .heading-4--light {
    color: #D6CAB0; }
  .heading-4--dark {
    color: #54504c; }

.btn {
  background-color: #54504c;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all .2s; }
  .btn:hover {
    background-color: #86817C;
    transform: translateY(3px);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.3); }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 6rem; }

.mb-hg {
  margin-bottom: 8rem; }

.sidebar {
  background-color: #282726;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / 1;
  position: fixed;
  height: 100vh;
  width: 6vw;
  display: grid;
  grid-row-gap: 1rem;
  align-items: end;
  transition: all .2s; }
  .sidebar__icon {
    fill: #D6CAB0;
    height: 2rem;
    transform: translateY(-1rem);
    padding: 0;
    transition: all .2s; }
    .sidebar__icon-1 {
      grid-row: 8 / 8;
      grid-column: 1 / -1; }
    .sidebar__icon-2 {
      grid-row: 9 / 9;
      grid-column: 1 / -1; }
    .sidebar__icon-3 {
      grid-row: 10 / 10;
      grid-column: 1 / -1; }
    .sidebar__icon-4 {
      grid-column: 1 / -1;
      grid-row: 11 / 11; }
    .sidebar__icon-5 {
      grid-column: 1 / -1;
      grid-row: 12 / 12; }
    .sidebar__icon:hover {
      transform: scale(1.5); }
  .sidebar::after {
    content: "";
    display: block;
    width: 1px;
    height: 15rem;
    background-color: #D6CAB0;
    margin: 0px auto;
    margin-left: 4rem;
    grid-row: 13 / 17; }

.header {
  background-color: #282726;
  grid-column: full-start / center-end;
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 6rem;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header__logo {
    width: 8rem;
    height: 4rem;
    background: #D6CAB0;
    position: relative;
    color: #282726; }
    .header__logo:before {
      content: "";
      position: absolute;
      top: -2.5rem;
      left: 0;
      width: 0;
      height: 0;
      border-left: 5rem solid transparent;
      border-right: 5rem solid transparent;
      border-bottom: 2.5rem solid #D6CAB0; }
    .header__logo:after {
      content: "";
      position: absolute;
      bottom: -2.5rem;
      left: 0;
      width: 0;
      height: 0;
      border-left: 5rem solid transparent;
      border-right: 5rem solid transparent;
      border-top: 2.5rem solid #D6CAB0; }
  .header__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
  .header__icon {
    fill: #D6CAB0;
    height: 4rem;
    padding: 0;
    transition: all .2s;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
    .header__icon:hover {
      transform: translate(-50%, -50%) scale(1.5); }

.about__content {
  background-color: #282726;
  grid-column: full-start / col-end 4;
  padding: 6rem 5vw;
  padding-top: 15rem;
  display: grid;
  align-content: center; }

.about__text {
  font-size: 1.5rem;
  margin-bottom: 4rem; }
  .about__text-link, .about__text-link:link, .about__text-link:visited {
    color: #86817C;
    transition: all .2s ease-in-out;
    text-decoration: none;
    box-shadow: inset 0 -3px 0 #86817C; }
    .about__text-link:hover, .about__text-link:link:hover, .about__text-link:visited:hover {
      box-shadow: inset 0 -33px 0 0 #FCFAF1;
      color: #282726; }

.about__picture {
  padding-top: 15rem;
  background-color: #282726;
  grid-column: col-start 5 / email-start;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(8, 1fr);
  transition: all .2s;
  position: relative; }
  .about__picture-border {
    width: 100%;
    grid-row: 3 / 7;
    grid-column: 4 / 8;
    border: 1px solid #D6CAB0;
    border-radius: 3px;
    z-index: 1;
    transform: translateY(1.2rem) translateX(1.2rem); }
  .about__picture-1 {
    width: 100%;
    grid-row: 3 / 7;
    grid-column: 4 / 8;
    background-size: cover;
    backface-visibility: hidden;
    -moz-mix-blend-mode: luminosity;
    -webkit-mix-blend-mode: luminosity;
    mix-blend-mode: luminosity;
    transition: all .5s;
    z-index: 20; }
    .about__picture-1:hover {
      -webkit-mix-blend-mode: normal;
      -moz-mix-blend-mode: normal;
      mix-blend-mode: normal; }

.experiance {
  background-color: #282726;
  grid-column: full-start / center-end; }

.projects {
  background-color: #282726;
  grid-column: full-start / center-end; }

.skills {
  background-color: #282726;
  grid-column: full-start / center-end;
  padding: 15rem 10rem; }

.email {
  background-color: #282726;
  grid-column: email-start / email-end;
  grid-row: 1 / -1;
  display: grid;
  justify-content: center; }

.footer {
  background-color: #282726;
  grid-column: full-start / center-end; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    left: -100%; }
  100% {
    opacity: 1;
    left: 100%; } }

@keyframes moveInRight {
  0% {
    right: 50%; }
  100% {
    right: 0; } }

@keyframes run {
  0% {
    left: 0; }
  50% {
    left: 100%; }
  100% {
    left: 0; } }

@keyframes slideinright {
  from {
    margin-right: 100%;
    width: 300%; }
  to {
    margin-right: 0%;
    width: 100%; } }

@keyframes slideinleft {
  from {
    margin-left: -100%;
    width: 300%; }
  to {
    margin-left: 0%;
    width: 100%; } }
