.about{
    background-color: $color-primary-dark;
    grid-column: full-start / email-start;
    padding: 4.5rem;
    display: flex;
    margin-top: 5rem;
    // align-items: stretch;
    
    &__content{
        font-size: 1.4rem;
        flex: 0 0 50%;
        margin-right: 4.5rem;
        padding: 3rem;

        &--text{

            &:not(:last-of-type){
                margin-bottom: 2rem;
            }
            
            &-link{
                &,
                &:link,
                &:visited { 
                    color: $color-grey-dark-2;
                    transition: all .2s ease-in-out;
                    text-decoration: none;
                    box-shadow: inset 0 -3px 0 $color-grey-dark-2;
                                        
                    &:hover {
                        box-shadow: inset 0 -33px 0 0 $color-grey-light-2;
                        color: $color-primary-dark;
                    }
                }
            }
        }
    }

    .list{
        list-style: none;
        margin: 3rem 0;
        padding: 3rem 0;
        border-top: 1px solid rgba($color-grey-light-1, .2);
        border-bottom: 1px solid rgba($color-grey-light-1, .2);

        display: flex;
        flex-wrap: wrap;

        &__item{
            flex: 0 0 50%;
            margin-bottom: .7rem;
        }

        &__item::before{
            content: "";
            display: inline-block;
            height: 1rem;
            width: 1rem;
            margin-right: .7rem;

            //Older Browser
            // background-image: url(../img/chevron-thin-right.svg);
            // background-size: cover;

            //Newer Version
            background-color: $color-grey-light-1;
            mask-image: url(../img/chevron-thin-right.svg);
            -webkit-mask-image: url(../img/chevron-thin-right.svg);
            mask-size: cover;
            -webkit-mask-size: cover;

        }

    }

    &__picture{
        // padding: 15rem 0 15rem 5rem;
        flex: 1;
        // box-shadow: 0 2rem 5rem rgba(#000, .2);
        padding: 3rem;
        margin: 3.5rem auto;
    }

    .picture{


        &--item{
                border-radius: 3px;
                margin: 8vw;
                width: 50%;
                height: 100%;
                justify-content: center;
                border: 1px solid $color-grey-light-1;
                z-index: -1;
                

            &-1{
                border-radius: 3px;
                width: 100%;
                height: 100%;
                justify-content: center;
                transform: translateY(-1.1rem) translateX(-1.5rem);
                mix-blend-mode: luminosity;
                z-index: 1;

                &:hover{
                    background-image: url(../img/Zakwan_headshot.jpg);
                    transform: translateY(-.8rem) translateX(-.8rem) ;
                    mix-blend-mode: normal;
                    -moz-appearance-mix-blend-mode: normal;
                    // border: 1px solid transparent;
                }
            }
        }
    }

}



