@keyframes pop-in{
  0%{
    opacity: 0;
    transform: translateY(-4rem) scale(.7);
  }
  100%{
    opacity: 1;
    transform: none;
  }
}

// @keyframes fad-in{
//   0%{
//     opacity: 0;
//     // transform: translate(-50%, -50%) scale(.7);
//   }
//   100%{
//     opacity: 1;
//     // transform: translate(-50%, -50%);
//   }
// }

@keyframes fade-slide-up{
    0%{
      opacity: 0;
      transform: translateY(4rem) translate(-50%, -50%);
    }
    100%{
      opacity: 1;
      transform: translateY(0) translate(-50%, -50%);
    }
}

@keyframes pulse{
  0%{
    opacity: 1;
    transform: translateY(0) translate(-50%, -50%);
  }
  50%{
    opacity: .8;
    transform: translateY(0) translate(-50%, -50%) scale(.8);
  }
  100%{
    opacity: 1;
    transform: translateY(0) translate(-50%, -50%);
  }
}

@keyframes fade-in{
  0%{
    opacity: 0;
    transform: scale(.7);
  }
  100%{
    opacity: 1;
    transform: none;
  }
}

// @keyframes scale-in{
//   0%{
//     transform: translateY(0) translate(-50%, -50%);
//   }

//   100%{
//     transform: translateY(0) translate(-50%, -50%) scale(1.5);
//   }
// }