// COLOR VARIABLES
$color-primary-dark: #282726;

$color-grey-light-1: #D6CAB0;
$color-grey-light-2: #FCFAF1;

$color-grey-dark-1: #54504c;
$color-grey-dark-2: #86817C;


// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;



//Responnsive Breakpoints
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px;
$bp-medium:50em; //800px;
$bp-small: 37.5em; // 600px;

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;

    @media only screen and(max-width: $bp-largest){
        font-size: 50%;
    }
    

    
}

body{
    font-family: $font-primary;
    background-color: $color-primary-dark;
    color: $color-grey-light-1;
    font-weight: 300;
    line-height: 1.6;
    scroll-behavior: smooth;
}

// .about, 
// .experiances{
//     opacity: 0;
//     // transform: translateY(4em);
//     // transition: transform 4s .25s cubic-bezier(0, 1, .3, 1)
//     //             opacity .3s .25s ease-out;
//     // will-change: transform, opacity;

//     .is-visible{
//         opacity: 1;
//     }

// }

.show-on-scroll{
    opacity: 0;
     transform: translateY(4em);
    transition: transform 4s .25s cubic-bezier(0, 1, .3, 1),
                opacity .3s .25s ease-out;
    will-change: transform, opacity;
}

.is-visible{
    opacity: 1;
}


// .about.is-visible{
//     opacity: 1;
// }

// .show-on-scroll{
    
// }



.container{
    display: grid;
    grid-template-rows: min-content 85vh repeat(7, min-content);
    // grid-template-columns: [sidebar-start]5rem[sidebar-end full-start] 
    // repeat(12, [col-start] minmax(min-content, 14rem) [col-end]) 
    // [full-end email-start] 5rem [email-end];
    grid-template-columns: [sidebar-start]minmax(min-content, 8rem)[sidebar-end full-start] 
    1fr [full-end email-start] minmax(min-content, 8rem) [email-end];

    @media only screen and(max-width: $bp-large){
        grid-template-rows: 100vh repeat(7, min-content);
    }
}

// @media only screen and(max-width: $bp-large){
//     grid-template-rows: 100vh repeat(7, min-content);
    // grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) 
    // [center-end] minmax(6rem, 1fr) [full-end];
// }

// @media only screen and(max-width: $bp-medium){
//     // grid-template-rows: 6rem calc(100vh - 6rem) min-content min-content min-content repeat(3, min-content);
//     grid-template-rows: 6rem calc(100vh - 6rem); //Don't need to add min-content it adopts by default as a minn content
// }