// COLOR VARIABLES
$color-primary-dark: #282726;

$color-grey-light-1: #D6CAB0;
$color-grey-light-2: #FCFAF1;

$color-grey-dark-1: #54504c;
$color-grey-dark-2: #86817C;


// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: $font-primary;
    background-color: $color-primary-dark;
    color: $color-grey-light-1;
    font-weight: 300;
    line-height: 1.6;
    scroll-behavior: smooth;
}

.container{
    display: grid;
    grid-template-rows: 100vh repeat(5, min-content);
    // grid-template-columns: [sidebar-start]5rem[sidebar-end full-start] 
    // repeat(12, [col-start] minmax(min-content, 14rem) [col-end]) 
    // [full-end email-start] 5rem [email-end];
    grid-template-columns: [sidebar-start]minmax(min-content, 8rem)[sidebar-end full-start] 
    1fr [full-end email-start] minmax(min-content, 8rem) [email-end];

}

// @media only screen and(max-width: $bp-large){
//     grid-template-rows: 6rem 80vh min-content 40vw repeat(3, min-content);
//     grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) 
//     [center-end] minmax(6rem, 1fr) [full-end];
// }

// @media only screen and(max-width: $bp-medium){
//     // grid-template-rows: 6rem calc(100vh - 6rem) min-content min-content min-content repeat(3, min-content);
//     grid-template-rows: 6rem calc(100vh - 6rem); //Don't need to add min-content it adopts by default as a minn content
// }