.contact{
    grid-column: full-start / full-end;
    text-align: center;

    padding: 3rem;
    margin: 0 auto;
    min-width: 65%;
    max-width: 80%;

        @media only screen and (max-width: $bp-medium){
            grid-column: sidebar-start / email-end;
        }

    // &__link{
    //     font-size: 1.8rem !important;
    //     border-radius: .3rem;
    // }
}
    