.contact{
    grid-column: full-start / full-end;
    text-align: center;

    padding: 3rem;
    margin: 0 auto;
    min-width: 65%;
    max-width: 80%;

        @media only screen and (max-width: $bp-medium){
            grid-column: sidebar-start / email-end;
        }

    .stand__out{
        color: $color-grey-light-2;
    }
    }
    