.experiance{
    background-color: $color-primary-dark;
    grid-column: full-start / full-end;

    height: 40vh;
    // box-shadow: 0 2rem 5rem rgba($color-primary-dark, .1);
    margin: 5rem;
    padding: 5rem;

    &__heading{
        padding: 0 20%;

    }
}
