.header {
    grid-column: full-start / full-end;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .5s;
    
    // &__link{
    //     opacity: 0;
    //     animation: pulse 2s 3s ease-out infinite;
    // }

    &__text-box{
        // height: 40%;
        opacity: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .heading__secondary{
        opacity: 0;
    }

    &__link{
        height: 15%;
        display: flex;
        align-items: center;
        -webkit-align-items: center;
    }

    &__icon{
                        fill: $color-grey-light-1;
                        height: 4rem;
                        padding: 0;
                        transition: all .2s;
                        width: 100%;
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        // transform: translate(-50%, -50%);
                        text-align: center;
                        opacity: 0;
                        transition: all .5s;
                
                        &:hover{
                            transform: translate(-50%, -50%) scale(1.5);
                            // animation: scale-in 1s cubic-bezier(0, .5, 0, 1);
                            // transition: all .5s;
                        }
                
                    }
        
            @media only screen and(max-width: $bp-large){
                grid-column: sidebar-start / email-end
            }
        
}


.animate-pop-in{
    animation: pop-in 1s .75s ease-out forwards;
}
.animate-fade-slide-up{
    animation: fade-slide-up 1s 1s ease-out forwards,
               pulse 2s 3s ease-out infinite;
}


// .animated-fad-in{
//     animation: fad-in 1s .5s ease-out forwards;
// }