.otherprojects{
    grid-column: full-start / full-end;
    margin: 15rem 0;
    display: flex;
    align-items: center;
    flex-direction: column;

    @media only screen and (max-width: $bp-medium){
        grid-column: sidebar-start / email-end;
    }
}

.projects{
    padding: 0 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2rem;
    max-width: 110rem;

    // @media only screen and (max-width: $bp-small){
    //     padding: 0 2rem;
    // }
    

    .project{
        background-color: rgba($color-grey-dark-1, .8);
        filter: grayscale(100%) contrast(1) brightness(100%);
        transition: .5s;
        backface-visibility: hidden;
        
        &--inner{
            padding: 2rem 1.75rem;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            align-items: flex-start;
            height: 100%;
            border-radius: .3rem;
            transition: all .2s;
            
        }

        &__icons{
            display: flex;
            margin-bottom: 3rem;
            justify-content: space-between;
            align-items: center;
            transition: all .2s;

            &-github,
            &-globe{
                fill: $color-grey-dark-2;
                height: 2rem;
                width: 2rem; 
                justify-self: flex-end;
                transition: all .2s;
                
            }

            &-folder{
                fill: $color-grey-light-1;
                height: 3rem;
                width: 3rem; 
                align-self: flex-start;
                margin: 0 auto;
            }

            &--link{
                padding: 1rem;
                transition: all .2s;
                text-decoration: none;
                // transform: translateY(-1rem);

                :hover{
                    fill: $color-grey-light-1;
                    // transform: translateY(-.3rem);
                }
            }
            
        }

        &__name{

            &--heading{
                color: $color-grey-light-2;
            }
           
        }

        &__discription{
            font-size: 1.4rem;
        }

        &__language{
            -moz-box-flex: 1;
            flex-grow: 1;
            display: flex;
            align-items: flex-end;
            flex-wrap: wrap;
            margin-top: 2rem;

            &--list{
                list-style: none;
                color: rgba($color-grey-light-2, 0.7);
                margin-right: 1rem;
                font-size: 1.2rem;
            }   
        }

        &:hover{
            transform: translateY(-.5rem);
            box-shadow: rgba(2, 12, 27, 0.7) 0px 10px 30px -15px;

        }
    }
}

.btn__toggle{
    padding: 1.3rem 2.2rem;
    color: $color-grey-light-1;
    background-color: transparent;
    font-size: 1.6rem;
    border: 1px solid rgba($color-grey-light-1, .5);
    border-radius: .3rem;
    transition: all .5s;
    margin: 10rem auto 0 auto;

    animation: fade-in .5s .5s ease-in-out forwards;


    &:hover{
        background-color: rgba($color-grey-dark-1,.5);
        transform: translateY(-.5rem);
        // box-shadow: 0 0.1rem 1rem rgba($color-grey-light-1, 0.2);
    }

    &:active,
    &:focus {
      outline: none;
    }
}

.hidden{
    display: none;
}

.show{
    display: flex;
}