.recentprojects{
    background-color: $color-primary-dark;
    grid-column: full-start / full-end;

    padding: 4.5rem;
    margin-top: 5rem;


    &__heading{
        padding: 2rem 7%;
        margin-right: 20%;
    }


    &__img{
        width: 115%;
        height: 100%;
        filter: grayscale(100%) contrast(1) brightness(100%);
        border-radius: 3px;
        transition: all .2s;

        &-2{
            width: 115%;
            height: 100%;
            transform: translateX(-15%);
            filter: grayscale(100%) contrast(1) brightness(100%);
            border-radius: 3px;
            transition: all .2s;

            &:hover{
                filter: none;
                transform: translateX(-15%) translateY(-.5rem);
            }
        }
        
        &:hover{
            filter: none;
            transform: translateY(-.5rem);
        }
    }

    &__paragraph{
        background-color: $color-grey-dark-1;
        color: rgba($color-grey-light-1, .9);
        // color: $color-primary-dark;
        transition: all .5s;
        padding: 2.5rem;
        text-align: left;
        font-size: 1.4rem;
        border-radius: 3px;
        z-index: 1;
        filter: grayscale(100%) contrast(1) brightness(100%);

        &:hover{
            box-shadow: rgba($color-grey-light-1, 0.2) 0 1rem 3rem -1.5rem;
            background-color: $color-grey-dark-2;
            color: $color-primary-dark;
            transition: all .5s;
        }
    }

    &__technology--list{
        display: flex;
        flex-wrap: wrap;
        margin: 2.5rem 0 1rem;
        

        &-1{
            justify-content: flex-end;

            &-name{
                list-style: none;
                
                margin-left: 2rem;
                margin-bottom: .7rem;
                font-size: 1.3rem;     
                white-space: nowrap;
            }
        }

        &-2{
            justify-content: flex-start;

            &-name{
                list-style: none;
                margin-right: 2rem;
                margin-bottom: .7rem;
                font-size: 1.3rem;     
                white-space: nowrap;
            }
        }
    }

    &__icon{
        display: flex;

        &-github,
        &-globe{
            width: 2.2rem;
            height: 2.2rem;
            margin: 0 1rem;
            fill: $color-grey-dark-2;
            transition: all .2s;

            &:hover{
                fill: $color-grey-light-2;
            }
        }
        

        &-1{
        -moz-box-pack: end;
        justify-content: flex-end;
        fill: currentcolor;
        }

        &-2{
            -moz-box-pack: start;
            justify-content: flex-start;
            fill: currentcolor;
            }

    }

    &__link{
        &,
                &:link,
                &:visited { 
                    color: $color-grey-light-2;
                    transition: all .2s ease-in-out;
                    text-decoration: none;
                    // box-shadow: inset 0 -5px 0 $color-grey-dark-2;
                                        
                    &:hover {
                        // box-shadow: inset 0 -3.5rem 0 0 $color-grey-light-2;
                        color: $color-grey-light-1;
                        box-shadow: inset 0 -2px 0 $color-grey-dark-2;
                    }
                }
    }

    &__1{
        padding: 0 7%;
        display: grid;
        grid-template-columns: repeat(12,1fr);
        grid-gap: 2rem;

        &--image{
            grid-column: 1 / 7;

        }

        &--content{
            grid-column: 7 / -1;
            text-align: right;
            
        }
    }

    &__2{
        padding: 0 7%;
        display: grid;
        grid-template-columns: repeat(12,1fr);
        grid-gap: 2rem;
        margin-top: 20rem;

        &--content{
            grid-column: 1 / 7;
            // text-align: left;
            z-index: 2;
            position: relative;
            
        }

        &--image{
            grid-column: 7 / -1;
            // grid-row: 1 / -1;
        }
    }

}
