.sidebar{
    grid-column: sidebar-start / sidebar-end;
    grid-row: 1 / 1;
    position: fixed;
    height: 100vh;
    width: 5rem;
    display: flex;
    flex-direction: column;
    -moz-align-items: center;
    align-items: center;
    justify-content: flex-end;
    transition: all .2s;
    
    &__icon{
        fill: $color-grey-dark-2;
        margin: 1.5rem auto;
        height: 2rem;
        width: 5rem;
        transform: translateY(-1rem);
        padding: 0;
        transition: all .2s;
    
            &:hover{
                transform: scale(1.5);
                fill: $color-grey-light-1;
            }
        &__link{
            text-decoration: none;
        }
        
    }
    &::after{
        content: "";
        display: block;
        width: 1px;
        height: 12vh;
        background-color:$color-grey-dark-2;
    }

    &__link{
        text-decoration: none;
    }

    @media only screen and (max-width: $bp-large){
        display: none;
    }
}
