%heading{
    font-family: $font-display;
    font-weight: 400;
}

.heading-1{
    @extend %heading;
    font-size: 6rem;
    color: $color-grey-light-1;
    line-height: 1;
}

.heading-2{
    @extend %heading;
    font-size: 4rem;
    font-style: italic;
    line-height: 1;

    &--light{
        color: $color-grey-light-1;
    }
    &--dark{
        color: $color-grey-dark-1;
    }
}

.heading-3{
    @extend %heading;
    font-size: 1.6rem;
    color: $color-grey-light-2;
    text-transform: uppercase;
}

.heading-4{
    @extend %heading;
    font-size: 2.2rem;
    text-transform: uppercase;
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-column-gap: 2rem;
    align-items: center;
    
    &::after{
        content: "";
        height: 1px;
        display: block;
        background-color: currentColor;
    }

    &--light{
        color: $color-grey-light-1;
    }
    &--dark{
        color: $color-grey-dark-1;
    }
}

.btn{
    background-color: $color-grey-dark-1;
    color: #fff;
    border: none;
    border-radius: 0;
    font-family: $font-display;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1.8rem 3rem;
    cursor: pointer;
    transition: all .2s;

    &:hover{
        background-color: $color-grey-dark-2;
        transform: translateY(3px);
        box-shadow: 0 1rem 4rem rgba(#000, .3);
    }
}

//margin classes 
.mb-sm{margin-bottom: 2rem;}
.mb-md{margin-bottom: 3rem;}
.mb-lg{margin-bottom: 6rem;}
.mb-hg{margin-bottom: 8rem;}