%heading{
    font-family: $font-display;
    font-weight: 400;
}

.heading-1{
    @extend %heading;
    font-size: 5rem;
    color: $color-grey-light-2;
    line-height: 1;
}

.heading-2{
    @extend %heading;
    font-size: 3.8rem;
    color: $color-grey-light-2;
    // font-style: italic;
    line-height: 1;

    &--light{
        color: $color-grey-light-1;
    }
    &--dark{
        color: $color-grey-dark-1;
    }
}

.heading-3{
    @extend %heading;
    font-size: 1.4rem;
    color: $color-grey-light-1;
    letter-spacing: .2rem;
    font-weight: 800;
    text-transform: uppercase;
}

.heading-4{
    @extend %heading;
    font-size: 2.2rem;
    text-transform: capitalize;
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-column-gap: 2rem;
    align-items: center;
    
    
    &::after{
        content: "";
        height: 1px;
        border:1px solid rgba($color-grey-light-1, .2);
        display: block;
        width: 60%;
        // background-color: currentColor;
    }

    &--light{
        color: $color-grey-light-1;
    }
    &--dark{
        color: $color-grey-dark-1;
    }
}

.projects__heading{
    @extend %heading;
    font-size: 2.2rem;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    

    &::before{
        content: "";
        display: block;
        height: 1px;
        border: 1px solid rgba($color-grey-light-1, .2);
        width: 25%;
        margin: auto;

        @media only screen and (max-width: $bp-small){
            margin-top: 1rem;
        }
    }
    &::after{
        content: "";
        display: block;
        height: 1px;
        border: 1px solid rgba($color-grey-light-1, .2);
        width: 25%;
        margin: auto;
        

        @media only screen and (max-width: $bp-small){
            margin-top: 1rem;
        }
    }
    
    @media only screen and (max-width: $bp-small){
        font-size: 1.8rem;
    }

}

.heading-5{
    @extend %heading;
    font-size: 1.4rem;
    color: $color-grey-light-1;
    text-transform: capitalize;
    margin: 1rem 0;
}
.heading-6{
    @extend %heading;
    font-size: 2.8rem;
    color: $color-grey-light-2;
    text-transform: capitalize;
    margin: 1rem 0;
}


.btn{
    // background-color: $color-grey-dark-1;
    background-image: linear-gradient(to right, $color-grey-dark-1, $color-grey-dark-2);
    color: $color-grey-light-2;
    border: none;
    border-radius: .3rem;
    font-family: $font-display;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1.8rem 3rem;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all .2s;

    &:hover{
        background-image: linear-gradient(to left, $color-grey-dark-1, $color-grey-dark-2);
    }


    & > *{
        height: 100%;
        width: 100%;
        display: inline-block;
        transition: all .2s;
    }

    &__visible{
        padding: .3rem 3rem;
        
        &:link,
        &:visited{
            text-decoration: none;
            color: $color-grey-light-2;
        }
    }

    &__invisible{
        padding: 2rem 0;
        left: 0;
        top: -100%;
        position: absolute;

        &:link,
        &:visited{
            text-decoration: none;
            color: $color-grey-light-2;
        }
        
    }

    &:hover &__visible{
        transform: translateY(220%);
        // background-color: $color-grey-dark-2;
        // transform: translateY(3px);
        // box-shadow: 0 1rem 4rem rgba(#000, .3);
        }

    &:hover &__invisible{
        top: 5%;
    }
}

.paragraph{
    font-size: 2rem;
    line-height: 1.3;
    -moz-osx-font-smoothing: grayscale;
    font-family: $font-display;
    color: $color-grey-dark-2;
}

//margin classes 
.mb-sm{margin-bottom: 2rem;}
.mb-md{margin-bottom: 3rem;}
.mb-lg{margin-bottom: 6rem;}
.mb-hg{margin-bottom: 8rem;}

