@import "base";
@import "typography";

@import "sidebar";
@import "header";
@import "about";
@import "experiance";
@import "otherprojects";
@import "email";
@import "footer";
@import "recentprojects";

@import "animation";